<h1>This is the homepage</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aut, aperiam, rem nesciunt officiis facere placeat est. Atque laboriosam consectetur cupiditate a quasi ducimus velit, eum iste fuga id aut.</p>
<div class="box">Empty box</div>