/**
 * Main less file
 */

@import '_variables';
@import 'components/box';

* {
  font-size: 1rem;
  box-sizing: border-box;
  display: flex;
}

p {
	color: green;
  text-shadow: 0 0 0 #000;
  border-radius: 0;
}

div,
a,
span {
  display: block;
  background: url('/images/link.jpg')
}
